table {
  margin-right: 20px;
}

td,
th,
tr {
  padding: 5px;
  cursor: pointer;
}

.Goleiro {
  background: #e67e22;
}

.Zagueiro {
  background: #3498db;
}

.Meio-campo {
  background: #2c3e50;
  color: #ecf0f1;
}

.Atacante {
  background: #16a085;
}
