<table>
  <caption>Time completo</caption>
  <thead>
    <tr>
      <th>Jogador</th>
      <th>Posição</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let jogador of service.todosOsJogadores"
      [class]="jogador.posicao"
      (click)="inserirJogador(jogador)"
    >
      <td>{{ jogador.nome }}</td>
      <td>{{ jogador.posicao }}</td>
    </tr>
  </tbody>
</table>
