<table>
  <caption>Escalação oficial</caption>
  <thead>
    <tr>
      <th>Jogador</th>
      <th>Posição</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let jogador of service.escalacao"
      (click)="removerDaEscalacao(jogador)"
      [class]="jogador.posicao"
    >
      <td>{{ jogador.nome }}</td>
      <td>{{ jogador.posicao }}</td>
    </tr>
  </tbody>
</table>

<p
  class="timeCompleto"
  *ngIf="!!service.timeCompleto"
>
  Time completo!
</p>

<p
  class="erro"
  *ngIf="!!service.erro"
>
  {{ service.erro }}
</p>
